@import "./App.scss";

.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  background: $Color-NavBar;
  &__img {
    margin-left: 30px;
    width: 60px;
    height: 60px;
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    &--logout {
      background: $Color-Fondo;
      color: #f2ebef;
      border: 2px solid #f2ebef;
      font-size: calc(0.5em + 0.5vw);
      cursor: pointer;
      width: 130px;
      height: 40px;
      border-radius: 10px;
      outline: inherit;
      text-align: center;
      font-weight: $weight3;
      color: $font-color-NavBar;
      letter-spacing: 3px;
      text-shadow: 10px 10px 6px rgba(0, 0, 0, 0.62);
    }
    &--logout:hover {
      color: $Color-Panel;
      background: $shadow-color;
      filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
    }
    &--box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px;
    }
    &--img {
      width: 25px;
      height: 25px;
    }
    &--cuenta {
      font-size: 15px;
      color: #223263;
      font-weight: $weight3;
    }
  }
}
